<div class="be-footer">
    <div class="be-footer__cards">
    <div class="be-footer__about">
    <img src="../../../../assets/logo/fLogo.svg" alt="">
    <p>About Beinex</p>
    <p>Careers</p>
    <p>Press Releases</p>
    <p>Beinex in the News</p>
    </div>
    <app-be-line [class]="'be-line'"></app-be-line>
    <div class="be-footer__services">
    <h5>Our Services</h5>
    <div class="be-footer__services__p">
     <div class="lft">
    <p>Advanced Analytics</p>
    <p>AI /ML/RPA</p>
    <p>Alteryx APA</p>
    <p>Audit Analytics</p>
    <p>Beinex Digital</p>
    <p>Business Intelligence</p> 
    </div>
    <div class="rht">
     <p>Competitive Intelligence</p>
    <p>Modern Cloud Analytics</p>
    <p>Risk Analytics</p>
    <p>Tableau</p>
    <p>Tableau Support Services</p>   
    </div>   
    </div>
    </div>
    <app-be-line [class]="'be-line'"></app-be-line>
    <div class="be-footer__industry">
    <h5>Our Industries</h5>
    <p>Finance</p>
    <p>Human Resources</p>
    <p>Procurement</p>
    <p>Sales</p>
    </div>
    <app-be-line [class]="'be-line'"></app-be-line>
    <div class="be-footer__partners">
    <h5>Our Partners</h5>
    <div class="be-footer__partners__p">
    <div class="lft">
    <p>Tableau</p>
    <p>Alteryx</p>
    <p>AURAA</p>
    <p>Amazon Web Services</p>
    </div>
    <div class="rht">
    <p>Microsoft Azure</p>
    <p>Snowflake</p>
    <p>Salesforce</p>
    <p>Alation</p>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    <app-be-copyright></app-be-copyright>
    