<div class="be-copyright">
    <div class="be-policy">
      <p>Privacy Policy</p>
      <p>Terms of Use</p>
      <p>Cookie Policy</p>
    </div>
    <div class="be-social">
      <img src="../../../../assets/icons/linkedinF.svg" alt="" />
      <img src="../../../../assets/icons/facebookF.svg" alt="" />
      <img src="../../../../assets/icons/twitterF.svg" alt="" />
      <img src="../../../../assets/icons/instagramF.svg" alt="" />
    </div>
    <div class="be-copyrighttxt">
      <p>Copyright © 2022 - 23 Beinex</p>
    </div>
  </div>
  