<div class="be-headertop">
    <div class="be-header__connect">
      <a href="#"><img src="../../../../assets/icons/linkedin.svg" alt="" /></a>
      <a href="#"><img src="../../../../assets/icons/facebook.svg" alt="" /></a>
      <a href="#"><img src="../../../../assets/icons/twitter.svg" alt="" /></a>
      <a href="#"><img src="../../../../assets/icons/instagram.svg" alt="" /></a>
      <a href="#"><img src="../../../../assets/icons/Ellipse 2.svg" alt="" /></a>
      <a href=""><img src="../../../../assets/icons/language.svg" alt="" /></a>
      <a href="">English</a>
    </div>
  
    <div class="be-header__trial">
      <a href=""
        ><img src="../../../../assets/icons/dot.svg" alt="" /> Tableau Free Trial</a
      >
      <a href=""
        ><img src="../../../../assets/icons/dot.svg" alt="" /> Alteryx Free Trial</a
      >
      <a href=""
        ><img src="../../../../assets/icons/dot.svg" alt="" /> Auraa Free Trial</a
      >
      <app-be-button
        [class]="'be--btn be--btn__call'"
        [icon]="'../../../../assets/icons/callSchedule.svg'"
        [text]="'Schedule a Call'" 
        [backgroundColor]="'rgba(16, 56, 91, 1)'"
        [textColor]="'#fff'"
        (buttonClick)="onSubmit()"
        [fontSize]="'12px'"
      ></app-be-button>
    </div>
      
  
  </div>
  