<div class="be-subscribe">
    <div class="be-subscribe__left">
      <h4>Subscribe to our newsletter</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae ac
        facilisis.
      </p>
    </div>
    <div class="be-subscribe__form">
      <app-be-input
        [class]="'be-input be-input__sub'"
        [placeholder]="'your email address'"
      ></app-be-input>
      <button class="be--btn--subscribe">
      <img src="../../../../assets/icons/arrow.svg" alt="">
      </button>
    </div>
  </div>
  